{% extends 'base.html' %}
{% load static %}
{% block head %}


{% endblock head %}


{% block content %}

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>


    <div class="bg-light p-3 pt-5 rounded">
        <h1>Entrenamiento de estado de salud </h1>
        <p class="lead">Cargue varias imágenes para el entrenamiento.</p>

        {% if data.status %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <strong>Entrenamiento finalizado</strong> Puede ir a la página de <a href="{% url 'app_agronomia:inicio' %}">Inicio</a> para identificar
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}


    <p><strong>Registre los parámetro necesarios: </strong>

        <form method="POST" action="{% url 'app_agronomia:entrenamiento' %}" enctype="multipart/form-data" onsubmit="btn_enviar.disabled = true; return true;">
            {% csrf_token %}


            <div class="row">
                <div class="col-md-6">

                    <div class="mb-3 mt-4">
                        <label for="formFile" class="form-label"><strong>Seleccione la Planta</strong></label>
                        <!-- <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Ejemplo: Fresa"> -->
                        <select name="planta_select" id="planta_select" class="form-control">

                            {% for planta in lista_planta %}
                                <option value="{{planta.pk}}">{{planta.nombre}}</option>
                            {% endfor %}

                        </select>

                
                        {% if data.validacion_planta %}
                            <div class="alert alert-danger mt-2" role="alert">
                            <strong>Error: </strong> {{ data.validacion_planta }}
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 mt-4">
                        <label for="formFile" class="form-label"><strong>Seleccione la salud de su hoja</strong></label>
                        <select name="salud" id="salud" class="form-control">
                            <option value="1">Saludable</option>
                            <option value="2">Enferma</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6" id="contenedor_enfermedad" style="display: none;" >
                    <label for="formFile" class="form-label"><strong>Seleccione el tipo de enfermedad de la planta</strong></label>
                    <select name="enfermedad_select" id="enfermedad_select" class="form-control">
                    </select>

     

                </div>

                {% if data.validacion_enfermedad %}
                    <div class="col-md-6 validate_enfermedad">
                        <div class="alert alert-danger mt-2" role="alert">
                            <strong>Error: </strong> {{ data.validacion_enfermedad }}
                        </div>
                    </div>
                {% endif %}
            </div>
            
            <div class="row">
                <div class="mb-3 mt-2">
                    <label for="formFile" class="form-label"><strong>Seleccione las imágenes</strong></label>
                    <input class="form-control" type="file" id="imagenes" name="imagenes" multiple accept=".jpg">
            
                    {% if data.validacion_archivo %}
                        <div class="alert alert-danger mt-2" role="alert">
                        <strong>Error: </strong> {{ data.validacion_archivo }}
                        </div>
                    {% endif %}
            
                    </div>
            </div>




    
            <button type="submit" class="btn btn-primary mt-3" id="btn_enviar" name="btn_enviar">
                <i class="fa-solid fa-code-branch"></i> Entrenar
            </button>
        </form>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
       $(document).ready(function () {

            $('#salud').change(function () {

                if ($(this).val() == "2") {
                    $("#contenedor_enfermedad").show("slow");
                    
                    $(".validate_enfermedad").hide();
                    CargarEnfermedades($('#planta_select').val());
                }else{
                    $("#contenedor_enfermedad").hide("slow");
                }

            });

            $('#planta_select').change(function () {

                if ($('#salud').val() == "2") {
                    CargarEnfermedades($(this).val());                    
                }    
               
            });

        });
   
        function CargarEnfermedades(id_planta) {
            
            $.ajax({
            url: "{% url 'app_agronomia:post_cbo_enfermedades' %}",
            type: "POST",
            data: {
                'id_planta':id_planta,
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            },
            }).done(function (data) { //Cuando todo salió en orden
                $('#enfermedad_select').empty();
                
                if (data.resp.length > 0) {

                    $.each(data.resp, function () {
                        $("#enfermedad_select").append("<option value=" + this.id + ">" + this.text + "</option>");
                    });

                }else{
                    
                    Swal.fire({
                        title: 'Notificación',
                        text: `La planta seleccionada no tiene ninguna enfermedad asignada`,
                        icon: 'warning',
                        confirmButtonColor: '#14A44D'
                    });
                }

            }).fail(function (data) { //Cuando se recibe un error
                $('#enfermedad_select').empty();
                alert('Error al cargar las enfermedades');
            });
        }

    </script>
{% endblock content %}

