{% extends 'base.html' %}
{% load static %}
{% block head %}


{% endblock head %}


{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  
    <div class="bg-light p-3 pt-5 rounded">
        <h1>Identificación del estado de salud de una planta</h1>
        <p class="lead">Cargue una imagen para identificar si una planta esta enferma.</p>
    <p><strong>Etiquetas/cultivos agregados: </strong>

        {% for carpeta in sub_carpetas %}
            <span class="badge bg-success">{{carpeta}}</span>
        {% endfor %}

        {% if resultado.validacion_entrenamiento %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <strong>Advertencia</strong> {{ resultado.validacion_entrenamiento }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        
    </p>
    <form method="POST" action="{% url 'app_agronomia:inicio' %}" enctype="multipart/form-data" onsubmit="btn_enviar.disabled = true; return true;">
        {% csrf_token %}
        <div class="mb-3 mt-5">
        <label for="formFile" class="form-label">Seleccione una imagen</label>
        <input class="form-control" type="file" id="imagen" name="imagen" accept=".jpg, .jpeg">

        {% if validacion %}
            <div class="alert alert-danger mt-2" role="alert">
            <strong>Error: </strong> {{validacion}}
            </div>
        {% endif %}

        </div>

        <button type="submit" class="btn btn-primary" id="btn_enviar" name="btn_enviar">
            <i class="fa-solid fa-magnifying-glass"></i> Identificar
        </button>
    </form>

        <div class="alert alert-success mt-5" role="alert">
            <h4 class="alert-heading"><strong>RESULTADO: {{ resultado.identificacion.tipo_hoja }}</strong></h4>
            <hr>

                {% if resultado.identificacion.estado_hoja == 'hoja_sana'   %}

                <div class="row">
                    <div class="col-md-3">
                        <center>
                            <h4>Imagen cargada</h4>
                            <img src="data:image/jpg;base64,{{ resultado.identificacion.imagen_cargada }}" class="img-fluid" alt="carga_salud"/>
                        </center>
                    </div>
                    <div class="col-md-3">
                        <center>
                            <h4>Imagen de referencia</h4>
                            <img src="data:image/jpg;base64,{{ resultado.identificacion.img64 }}" class="img-fluid" alt="salud"/>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <h3 class="mb-0">Estado de la planta: <span class="badge bg-success">Saludable</span></h3>
                        </center>
                            <hr>
                            <h3 class="mb-0"><strong>Descripción</strong></h3>
                            <h4 class="mb-0">{{ resultado.identificacion.planta.descripcion }}</h4>
      
                    </div>
                </div>



                {% elif resultado.identificacion.estado_hoja == 'hoja_enferma' %}
                <div class="row ">
                    <div class="col-md-3">
                        <center>
                            <h4>Imagen cargada</h4>
                            <img src="data:image/jpg;base64,{{ resultado.identificacion.imagen_cargada }}" class="img-fluid" alt="carga_enferma"/>
                        </center>
                    </div>
                    <div class="col-md-3">
                        <center>
                            <h4>Imagen de referencia</h4>
                            <img src="data:image/jpg;base64,{{ resultado.identificacion.img64 }}" class="img-fluid" alt="enferma"/>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <table style="width:100%">
                                <tr>
                                    <td><h3 class="mb-0">Estado de la planta: </h3> </td>
                                    <td><h3><span class="badge bg-danger">Enferma</span></h3></td>
                                </tr>
                                <tr>
                                    <td><h3 class="mb-0">Enfermedad: </h3></td>
                                    <td><h3><span class="badge bg-danger">{{ resultado.identificacion.enfermedad.nombre }}</span></h3></td>
                                </tr>
                            </table>

            
                            
                        </center>
                            <hr>
                            <h3 class="mb-0"><strong>Descripción</strong></h3>
                            <h4 class="mb-0">{{ resultado.identificacion.enfermedad.descripcion }}</h4>
                    
                    </div>

                </div>

                {% else %}
                    <p class="mb-0"><span class="badge bg-secondary">Imagen no cargada</span></p>
                {% endif %}

        </div>

    </div>
{% endblock content %}

