{% extends 'base.html' %}
{% load static %}
{% block head %}


{% endblock head %}


{% block content %}
    
    <div class="bg-light p-3 pt-5 rounded">
        <h1>Cargar Imagen </h1>
        <p class="lead">Cargue una imagen para identificar si una planta esta enferma.</p>
    <p><strong>Etiquetas/cultivos agregados: </strong>

        {% for carpeta in sub_carpetas %}
            <span class="badge bg-success">{{carpeta}}</span>
        {% endfor %}
        
    </p>
    <form method="POST" action="{% url 'app_agronomia:inicio' %}" enctype="multipart/form-data" onsubmit="btn_enviar.disabled = true; return true;">
        {% csrf_token %}
        <div class="mb-3 mt-5">
        <label for="formFile" class="form-label">Seleccione una imagen</label>
        <input class="form-control" type="file" id="imagen" name="imagen" accept=".jpg, .jpeg">

        {% if validacion %}
            <div class="alert alert-danger mt-2" role="alert">
            <strong>Error: </strong> {{validacion}}
            </div>
        {% endif %}

        </div>

        <button type="submit" class="btn btn-primary" id="btn_enviar" name="btn_enviar">
            <i class="fa-solid fa-magnifying-glass"></i> Identificar
        </button>
    </form>

        <div class="alert alert-success mt-5" role="alert">
            <h4 class="alert-heading"><strong>RESULTADO: {{ resultado.identificacion.tipo_hoja }}</strong></h4>
            <hr>

                {% if resultado.identificacion.estado_hoja == 'hoja_sana'   %} 
                    <p class="mb-0"><span class="badge bg-success">La hoja que ha cargado esta sana</span></p>

                {% elif resultado.identificacion.estado_hoja == 'hoja_enferma' %}
                    <p class="mb-0"><span class="badge bg-danger">La hoja que ha cargado esta enferma</span></p>

                {% else %}
                    <p class="mb-0"><span class="badge bg-secondary">Imagen no cargada</span></p>
                {% endif %}

        </div>

    </div>

    <script>

    </script>
{% endblock content %}

