{% extends 'base.html' %}
{% load static %}
{% block head %}


{% endblock head %}


{% block content %}
    
    <div class="bg-light p-3 pt-5 rounded">
        <center>
            <h1>Galería de etiquetas de Plantas agregadas</h1>
        </center>
        <br>
        <div class="row">
            {% for planta in resultado %}

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="data:image/jpg;base64,{{ planta.img64 }}" class="img-fluid img-rounded" >
                        <div class="card-body">
                        <h5 class="card-title"><strong>{{ planta.nombre }}</strong></h5>
                        <p class="card-text">{{ planta.descripcion|safe|truncatewords:"10"|linebreaks }}</p>
                        <a href="#" class="btn btn-primary btn-sm">Ver galería</a>
                        </div>
                    </div>
                </div>  
                
            {% empty %}

                <center>
                    <br><br>
                    <h2><strong>No hay ninguna planta entrenada</strong></h2>
                </center>
            {% endfor %}
        </div>

    </div>
{% endblock content %}

